html,

:root {
    --header-height: 60px;
    --footer-height: 70px;
    --footer-color: #ffffff;
    --general-bg: #ffffff;
    --general-fg: #000000;
    --card-bg: #ffffff;
    --secondary-text: #636366;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--general-bg);
    color: var(--general-fg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#selectedDate {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 0.9;
    width: 250px;
    border-radius: 5px;
    border: none;
    padding: 0;
    margin: 0;
    color: var(--general-fg);
    background-color: var(--general-bg);
}

.flatpickr-calendar {
    font-family: "Source Sans 3", sans-serif;
    border-radius: 11px;
    font-size: 16px;
    font-weight: 400;
}

.flatpickr-day,
.flatpickr-weekdays {
    font-family: "Source Sans 3", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#externalLinkButtons {
    display: flex;
    justify-content: center;
}

.highlightNumber {
    font-family: "Source Sans 3", sans-serif;
    font-size: 17px;
    font-weight: 700;
    line-height: 1.0;
}

.highlightText {
    font-family: "Source Sans 3", sans-serif;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.0;
}

.page-title {
    font-family: "Source Sans 3", sans-serif;
    font-size: 27px;
    font-weight: 600;
}

li {
    margin-bottom: 10px;
    /* Adjusts space between items */
}

.today-container {
    width: 100%;
    text-align: center;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--general-bg);
    overflow: hidden;
}

.today-header {
    background-color: var(--general-fg);
    color: var(--general-bg);
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.today-date-large {
    font-size: 60px;
    font-weight: 400;
    padding: 10px 0;
}

.today-date-details {
    font-size: 22px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.today-date-details div {
    text-align: left;
}

.today-date-details span {
    font-size: 18px;
    font-weight: normal;
}

.today-picks-header {
    background-color: var(--general-fg);
    color: var(--general-bg);
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
}

.today-picks {
    font-size: 50px;
    font-weight: 400;
    padding: 10px 0;
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--general-bg);
    /* padding: 10px 0; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header-title {
    flex-grow: 1;
    color: var(--general-fg);
}

.externalLinkButton {
    border: none;
    padding: 0 6px;
}

/* Dropdown Button */
.dropbtn {
    border: none;
    cursor: pointer;
    background-color: var(--general-bg);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--card-bg);
    color: var(--general-fg);
    padding: 3px 0;
    font-weight: 400;
    font-size: 16px;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

.menu-item-text {
    text-decoration: none;
    color: var(--general-fg) !important;
}

.externalLinkMenuItemMandatory {
    display: flex;
}

.externalLinkMenuItem {
    display: none;
    align-items: center;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    box-sizing: border-box;
}

#topblock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    padding: 10px;
}

.current-date {
    font-size: 1.2em;
    color: #555555;
}

.tweet {
    display: flex;
    background-color: var(--card-bg);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    scroll-margin-top: var(--header-height);
    margin-bottom: 12px;
    margin-left: 2px;
    margin-right: 2px;
}

.cardblock {
    display: flex;
    background-color: var(--general-bg);
    border-radius: 10px;
    line-height: 1.2;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    scroll-margin-top: var(--header-height);
    margin-bottom: 12px;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 600px;
}

.cardblockv {
    display: flex-column;
    background-color: var(--general-bg);
    border-radius: 10px;
    line-height: 1.2;
    padding: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    scroll-margin-top: var(--header-height);
    margin-bottom: 12px;
    margin-left: 2px;
    margin-right: 2px;
    max-width: 600px;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tweet-image {
    height: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 8px;
    margin-bottom: 9px;
}

.tweet-title {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.0;
    color: var(--general-fg);
    padding-top: 10px;
}

.tweet-title-small {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.25;
    color: var(--general-fg);
    display: -webkit-box;
    /* Display as a flexbox */
    -webkit-box-orient: vertical;
    /* Orient the flexbox vertically */
    -webkit-line-clamp: 2;
    /* Limit to 2 lines */
    overflow: hidden;
    /* Hide the overflow */
    text-overflow: ellipsis;
    /* Add ellipsis (...) at the end */
    padding-bottom: 3px;
}

.start-time-icon {
    font-family: "Source Sans 3", sans-serif;
    color: var(--general-fg);
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-decoration: none;
}

.bold-dot {
    font-weight: bold;
    font-size: 15px;
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    transform: scale(1.5);
    color: var(--general-fg);
}

.primary-text-gray {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-size: 16px;
    color: var(--secondary-text);
}

.tweet-content {
    flex: 1;
    padding: 3px 5px;
}

.tweet-header {
    margin-bottom: 3px;
}

.arxiv-id {
    display: inline;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--general-fg);
}

.institute-line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2px;
    margin-top: 2px;
}

.institute-icon {
    width: 16px;
    height: 16px;
    padding-bottom: 3px;
    margin-right: 5px;
    content: url('assets/buttonInstitute.svg');
}

.arxiv-icon {
    width: 16px;
    height: 16px;
    padding-top: 3px;
    margin-right: 5px;
    content: url('assets/buttonArxiv.svg');
}

.institute-text {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-size: 16px;
    color: var(--general-fg);
}

.primary-text {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-size: 16px;
    color: var(--general-fg);
}

.launch-status {
    background-color: #1FB36E;
    border-radius: 5px;
    font-size: 14px;
    color: #ffffff;
    font-family: "Source Sans 3", sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 1px 5px;
}

.play-image {
    padding-right: 5px;
    height: 10px;
    content: url('assets/buttonPlayFrom.svg');
    background-color: var(--card-bg);
}

.institute-text-small {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.2;
    font-weight: 300;
    font-size: 15px;
    color: var(--secondary-text);
    display: -webkit-box;
    /* Display as a flexbox */
    -webkit-box-orient: vertical;
    /* Orient the flexbox vertically */
    -webkit-line-clamp: 1;
    /* Limit to 3 lines */
    overflow: hidden;
    /* Hide the overflow */
    text-overflow: ellipsis;
    /* Add ellipsis (...) at the end */
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

.footerButtonMask {
    position: absolute;
    top: -3;
    left: -3;
    width: 51px;
    height: 51px;
    opacity: 0.8;
    background-color: var(--footer-color);
    /* Adjust the opacity to control how much of the content is visible */
    pointer-events: none;
    /* Make sure the mask doesn't block interaction with the content */
}

#playLastButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playNextButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-full-list {
    height: 50px;
}

.play-full-list-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 55px;
    width: 55px;
}

.controllerButton {
    display: flex;
    flex-direction: column;
    /* Align children vertically */
    align-items: center;
    /* Center-align children horizontally */
    justify-content: center;
    /* Center-align children vertically */
    background-color: #1FB36E;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    /* Black border as specified */
    border-radius: 5px;
    border: none;
    /* Rounded corners for the rectangle */
    cursor: pointer;
    padding: 0px 10px;
    /* Set width and height to the same size for a square */
    height: 45px;
    width: 45px;
    /* Padding inside the button */
}

.controllerButton.mask-on {
    mask-image: linear-gradient(90deg, transparent 50%, black 50%);
    mask-size: 100% 100%;
    -webkit-mask-image: linear-gradient(90deg, transparent 50%, black 50%);
    -webkit-mask-size: 100% 100%;
}

#playPauseImage {
    width: 12px;
    height: auto;
}

#locateImage {
    width: 18px;
    height: auto;
}

.player-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* Ensures the footer spans the entire width of the viewport */
    height: var(--footer-height);
    background-color: var(--footer-color);
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    padding-top: 15px;
}

.play-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Ensures there is spacing between the button and the progress bar */
}

.player-detail-hidden-on-small-screen {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 5px;
}

#controls {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-right: 20px;
}

.control-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding-right: 20px;
    padding-bottom: 5px;
}

.control-horizontal {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    gap: 6px;
}

#progressContainer {
    flex-grow: 1;
    /* Takes up all available space after accounting for the play button */
    height: 2px;
    /* background-color: #000; */
    background-color: #D3D3D3;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin-right: 6px;
    margin-left: 6px;
}

#progressBar {
    width: 0;
    height: 100%;
    background-color: var(--general-fg);
    /* Changed for visibility */
}

#progressCircle {
    width: 10px;
    height: 10px;
    background-color: #1FB36E;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
    cursor: pointer;
    user-select: none;
}

#progressTime {
    font-size: 15px;
    font-weight: 400;
}

/* Hide the default select */
#playSpeedButton {
    position: relative;
}

#playSpeedButton select {
    display: none;
}

/* Style the custom button */
#selectedSpeed {
    display: flex;
    border: none;
    color: #000000;
    background-color: #1FB36E;
    align-items: center;
    justify-content: center;
    /* Black border as specified */
    border-radius: 5px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 500;
    font-size: 16px;
    /* Rounded corners for the rectangle */
    cursor: pointer;
    padding: 0 0;
    /* Set width and height to the same size for a square */
    height: 45px;
    width: 45px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* Style the dropdown */
.speedMenuItems {
    display: none;
    position: absolute;
    background-color: var(--card-bg);
    padding: 3px 0;
    font-weight: 400;
    font-size: 16px;
    min-width: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
    bottom: 100%;
    /* Position the dropdown above the button */
    display: none;
    cursor: pointer;
    /* Hide the dropdown initially */
}

.speedMenuItems div {
    color: var(--general-fg);
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}

/* Show the dropdown when the button is clicked */
#selectedSpeed.open~.speedMenuItems {
    display: block;
}

#menuButtonId {
    content: url('assets/buttonSetting.svg');
}

.feature-icon {
    content: url('assets/buttonFeatures.svg');
}

.request-icon {
    content: url('assets/buttonRequest.svg');
}

.privacy-icon {
    content: url('assets/iconPrivacy.svg');
}

.rr-text1 {
    content: url('assets/AppLaunchText1.gif');
}

@media (max-width: 600px) {
    .page-title {
        font-family: "Source Sans 3", sans-serif;
        font-size: 22px;
        font-weight: 600;
    }

    .tweet-title {
        font-weight: 600;
        font-size: 17px;
        line-height: 1;
        margin-top: 6px;
    }

    .institute-text {
        line-height: 1.15;
        font-size: 16px;
    }

    .player-detail-hidden-on-small-screen {
        display: none;
    }

    #externalLinkButtons {
        display: none;
    }

    .externalLinkMenuItem {
        display: flex;
        align-items: center;
    }

    .control-panel {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --footer-color: #0D0D0D;
        --general-bg: #0D0D0D;
        --general-fg: #ffffff;
        --card-bg: #1C1C1E;
        --secondary-text: #8E8E93;
    }

    .dropdown-content {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .play-full-list-button {
        background: #ffffff;
    }

    #progressContainer {
        background-color: #3a3a3a;
    }

    .speedMenuItems {
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .arxiv-icon {
        content: url('assets/buttonArxivWhite.svg');
    }

    .institute-icon {
        content: url('assets/buttonInstituteWhite.svg');
    }

    #menuButtonId {
        content: url('assets/buttonSettingWhite.svg');
    }

    .feature-icon {
        content: url('assets/buttonFeaturesWhite.svg');
    }

    .request-icon {
        content: url('assets/buttonRequestWhite.svg');
    }

    .privacy-icon {
        content: url('assets/iconPrivacyWhite.svg');
    }

    .play-image {
        padding-right: 5px;
        height: 10px;
        content: url('assets/buttonPlayFromWhite.svg');
    }

    .rr-text1 {
        content: url('assets/AppLaunchText1White.gif');
    }

    .rr-text2 {
        content: url('assets/AppLaunchText2White.gif');
    }
}