body {
    font-family: 'Quicksand', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 0px;
}

.header-gif {
    transform: scale(0.4);
}

.header-text {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.tweet-title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 10px;
}

.current-date {
    font-size: 1.2em;
    color: #555555;
}

.tweet {
    display: flex;
    padding: 10px;
    border-bottom: 0.5px solid #000000;
}

.tweet:last-child {
    border-bottom: none;
}

.user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 24px;
    border-radius: 8px;
    background-color: #1FB36E;
    color: #ffffff;
    font-weight: 400;
    margin-right: 10px;
    font-size: 14px;
}

.tweet-content {
    flex: 1;
}

.tweet-header {
    margin-bottom: 3px;
}

.arxiv-id {
    display: block;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px
}

.tweet-institute {
    display: flex;
    align-items: flex-start;
    /* Align items at the top */
    margin-bottom: 5px;
}

.institute-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    margin-top: 5px;
}

.institute-name {
    font-size: 14px;
    color: #000000;
    margin-bottom: 0px;
    line-height: 1.2;
    margin-top: 5px;
}

.tweet-text {
    margin: 5px 0;
    line-height: 1.2;
    font-weight: 400;
    font-size: 14px;
    color: #000000;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .tweet {
        padding: 10px;
    }

    .user-icon {
        width: 40px;
        height: 20px;
        font-size: 14px;
    }
}