html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ensures padding and border are included in width/height calculations */
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 0px;
}

.notification-text {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    margin-left: 20px;
    margin-right: 20px;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}

.subheader-text {
    text-align: center;
    margin: 5px 0;
    line-height: 1.2;
    font-weight: 300;
    font-size: 10px;
    color: #000000;
}

.current-date {
    font-size: 1.2em;
    color: #555555;
}

.tweet {
    display: flex;
    padding: 10px;
    border-bottom: 0.5px solid #000000;
}

.tweet:last-child {
    padding-bottom: 200px;
    border-bottom: none;
}

.tweet-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #000000;
    margin-bottom: 5px;
    margin-top: 10px;
}

.start-time-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 24px;
    border-radius: 8px;
    background-color: #1FB36E;
    color: #ffffff;
    font-weight: 500;
    margin-right: 10px;
    font-size: 14px;
}

.tweet-content {
    flex: 1;
}

.tweet-header {
    margin-bottom: 3px;
}

.arxiv-id {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px
}

.institute-line {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    margin-top: 5px;
}

.institute-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.primary-text {
    line-height: 1.2;
    font-weight: 400;
    font-size: 15px;
    color: #000000;
}

.institute-text {
    line-height: 1.2;
    font-weight: 300;
    font-size: 15px;
    color: #000000;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}

#privacyButton {
    display: flex;
    /* Align children vertically */
    align-items: center;
    /* Center-align children horizontally */
    justify-content: center;
    /* Center-align children vertically */
    background: none;
    border: none;
    /* Black border as specified */
    cursor: pointer;
    padding: 5px 10px;
    /* Set width and height to the same size for a square */
    /* height: 55px;
    width: 55px; */
    /* Padding inside the button */
    padding-bottom: 200px;
}

#controllerButton {
    display: flex;
    flex-direction: column;
    /* Align children vertically */
    align-items: center;
    /* Center-align children horizontally */
    justify-content: center;
    /* Center-align children vertically */
    background: none;
    border: 2px solid black;
    /* Black border as specified */
    border-radius: 10px;
    /* Rounded corners for the rectangle */
    cursor: pointer;
    padding: 5px 10px;
    margin-left: 5px;
    /* Set width and height to the same size for a square */
    height: 55px;
    width: 55px;
    /* Padding inside the button */
}

#playPauseImage {
    width: 12px;
    height: auto;
    margin-bottom: 2px;
}

#locateImage {
    width: 18px;
    height: auto;
}

.player-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* Ensures the footer spans the entire width of the viewport */
    height: 50px;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Align children to the left */
    padding: 10px;
}

.play-container {
    display: flex;
    align-items: center;
    margin-right: 10px;
    /* Ensures there is spacing between the button and the progress bar */
}

#controls {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-right: 20px;
}

#progressContainer {
    flex-grow: 1;
    /* Takes up all available space after accounting for the play button */
    height: 2px;
    background-color: #000;
    position: relative;
    user-select: none;
    cursor: pointer;
    margin-right: 20px;
}

#progressBar {
    width: 0;
    height: 100%;
    background-color: #D3D3D3;
    /* Changed for visibility */
}

#progressCircle {
    width: 10px;
    height: 10px;
    background-color: #1FB36E;
    border-radius: 50%;
    position: absolute;
    top: -4px;
    left: 0;
    cursor: pointer;
    user-select: none;
}

#progressTime {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}


@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .tweet {
        padding: 10px;
    }

    .start-time-icon {
        width: 43px;
        height: 20px;
        font-size: 14px;
    }
}